body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(48, 44, 44);
    color: white;
}
#board{
    border: 1px solid black;
    /* box-shadow: rgb(29, 27, 27) 5px 5px 5px 5px; */
    background-image: url('./images/background.png');
}